
.idea/description.html
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
AlgorithmCodes.iml
.idea/sonarlint/issuestore/4/8/482c9758f9ab6a5a7fbd09d96b3903df95e89f7b
.idea/sonarlint/issuestore/2/9/29c3d93d16a2e791c2ce0cef31c77c66556c865e
.idea/sonarlint/issuestore/index.pb
*.class
.idea/sonarlint/issuestore/3/0/30e5f71a1b13f3562566a23db815cd517f428b47
